@page
@model InventoryModel
@{
    ViewData["Title"] = "Inventory";
}
<div class="row col-sm-12">
    <div class="container-fluid inventoryForm">
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <form method="post">
                        <input class="btn btn-primary" type="submit" asp-page-handler="allinventory" value="Generate CSV" />
                    </form>
                    <br />
                    <form method="post">
                        <label>Sphere</label> <input type="text" name="SphereFilter" id="sphereFilter"/>
                        <label>Cylinder</label><input type="text" name="CylinderFilter" id="cylinderFilter"/>
                        <label>AntiReflective </label><input type="checkbox" id="arcbx"/>
                        <label>Transitions </label><input type="checkbox" id="trcbx"/>
                        <input class="btn btn-primary" type="submit" value="Filter Inventory" id="filterByDetails"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="row inventoryForm">
            <div class="col-sm-8">
                <table id="inventoryTable">
                    <tr class="inventory">
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["ProductLabelSort"]">Product Label</a></th>
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["SphereSort"]">Sphere</a></th>
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["CylinderSort"]">Cylinder</a></th>
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["MaterialSort"]">Material</a></th>
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["ARSort"]">AR Coating</a></th>
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["TransitionsSort"]">Transitions</a></th>
                        <th class="inventory"><a asp-route-sortOrder="@ViewData["RemainingCountSort"]">Remaining Count</a></th>
                        <th class="inventory">Label</th>
                    <tbody>
                        @foreach (var lens in Model.Lenses)
                        {
                            var className = "inventoryRow";
                            if (lens.LowInventoryWarning >= lens.RemainingCount && lens.LowInventoryWarning != 0)
                            {
                                className += " lowInventory";
                            }
                            else
                            {
                                className += " regularQuantity";
                            }
                            <tr class=@className>
                                <td class="inventory"><a asp-page="./Edit" asp-route-id="@lens.ProductLabel">@lens.ProductLabel</a></td>
                                <td class="inventory">@lens.Sphere</td>
                                <td class="inventory">@lens.Cylinder</td>
                                <td class="inventory">@lens.Material.Name</td>
                                @if (lens.AntiReflectiveCoating)
                                {
                                    <td class="inventory">Anti-Reflective</td>
                                }
                                else
                                {
                                    <td class="inventory">None</td>
                                }
                                @if (lens.Transitions)
                                {
                                    <td class="inventory">Yes</td>

                                }
                                else
                                {
                                    <td class="inventory">No</td>

                                }
                                <td class="inventory">@lens.RemainingCount</td>
                                <td  class="inventory" style="padding-left: 10px; padding-right: 10px">
                                    <input class="btn btn-info AddLabel" type="button" value="Add" data-value="@(lens.ProductLabel)" id="btn_@(lens.ProductLabel)" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="scroll col-sm-3">
                <form method="post">
                    <div class="row">
                        <table class="labelTable">
                            <tr>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box1IsSelected" type="checkbox" id="cbx1" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box1ProductLabel" class="labelSticker" id="cbxSheet1" />
                                </td>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box2IsSelected" type="checkbox" id="cbx2" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box2ProductLabel" class="labelSticker" id="cbxSheet2" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box3IsSelected" type="checkbox" id="cbx3" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box3ProductLabel" class="labelSticker" id="cbxSheet3" />
                                </td>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box4IsSelected" type="checkbox" id="cbx4" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box4ProductLabel" class="labelSticker" id="cbxSheet4" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box5IsSelected" type="checkbox" id="cbx5" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box5ProductLabel" class="labelSticker" id="cbxSheet5" />
                                </td>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box6IsSelected" type="checkbox" id="cbx6" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box6ProductLabel" class="labelSticker" id="cbxSheet6" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box7IsSelected" type="checkbox" id="cbx7" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box7ProductLabel" class="labelSticker" id="cbxSheet7" />
                                </td>
                                <td class="col-sm-2 labelSheetBox">
                                    <input asp-for="LabelViewModel.Box8IsSelected" type="checkbox" id="cbx8" onclick="clearSticker(id);" />
                                    <label>No Sticker</label>
                                    <br />
                                    <br />
                                    <input type="text" asp-for="LabelViewModel.Box8ProductLabel" class="labelSticker" id="cbxSheet8" />
                                </td>
                            </tr>
                        </table>
                        <br />
                        <input class="btn btn-primary col-sm-2" value="Clear All" onclick="clearAll()" />
                        <input class="btn btn-info col-sm-2" style="margin-left: 15px" asp-page-handler="PrintLabel" type="submit" value="Print" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row col-sm-12" style="padding-bottom: 200px"></div>
 </div>