@page
@model SeeMoreInventory.Pages.LensPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].ProductLabel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].Sphere)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].Cylinder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].Axis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].AntiReflectiveCoating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].Transitions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].RemainingCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lens[0].LowInventoryWarning)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lens) {
        <tr>
            <td>
                @Html.DisplayFor(modelIem => item.ProductLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sphere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cylinder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Axis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiReflectiveCoating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transitions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowInventoryWarning)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductLabel">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductLabel">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductLabel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
